$grip-pink: #eb4382
section 
	padding: 18% 3em
	border-bottom: 1px solid #d2d2d2
section:nth-of-type(odd)
	background-color: #e2e2e2
.center 
	text-align: center
.block-list
	margin: 3em 0
.circle 
	width: 3em
	height: 3em 
	background-color: $grip-pink
	padding-top: 0.8em
	border-radius: 50%
	font-size: 2em
	margin: 0 auto 0.4em auto
	color: #fff
	text-align: center