/* line 2, ../scss/style.sass */
section {
  padding: 18% 3em;
  border-bottom: 1px solid #d2d2d2;
}

/* line 5, ../scss/style.sass */
section:nth-of-type(odd) {
  background-color: #e2e2e2;
}

/* line 7, ../scss/style.sass */
.center {
  text-align: center;
}

/* line 9, ../scss/style.sass */
.block-list {
  margin: 3em 0;
}

/* line 11, ../scss/style.sass */
.circle {
  width: 3em;
  height: 3em;
  background-color: #eb4382;
  padding-top: 0.8em;
  border-radius: 50%;
  font-size: 2em;
  margin: 0 auto 0.4em auto;
  color: white;
  text-align: center;
}
